#category-list {
  list-style: none;
}

#category-list li {
  margin-bottom: 2%;
  padding: 2% 0% 2% 0%;
  display: flex;
  width: 350px;
  background-color: rgb(210, 234, 243);
  border-radius: 10px;
  cursor: pointer;
}

#category-list li h4 {
  display: inline;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid rgb(147, 146, 146);
}

button:focus {
  outline:0;
}


#category-list li button {
  align-self: center;
  cursor: pointer;
  display: inline-block;
  background-color: rgb(238, 209, 209);
  border: none;
  border-radius: 5px;
  transition: 300ms;
  color: white;
}

#category-list  li button:hover {
  background-color: rgb(229, 137, 137);
}

#category-list  li button:active {
  background-color: rgb(218, 87, 87);
}

#category-list  li p {
  font-size: 14px;
  margin: 2% 0% 0% 3%;
  padding-top: 4%;
}

#category-list  li * {
  margin-left: 2%;
  display: inline-block;
}

#updateText {
  margin-left: 40px;
  font-style: italic;
  color: rgb(151, 149, 149);
}

#category-list div {
  width: 100%;
  margin: 0 auto 0 auto;
  text-align: center;
}


#category-list li div h6{
float: left;
margin-left: 40px;
}


